{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Input Password Info</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.old_pass.label }}<br>
            {{ form.old_pass(size=32) }}
        </p>
        <p>
            {{ form.new_pass.label }}<br>
            {{ form.new_pass(size=32) }}
        </p>
        <p>
            {{ form.new_pass_retype.label }}<br>
            {{ form.new_pass_retype(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <a class="btn btn-outline-dark" href="/homepage" style="border: 1px solid black; background-color: white;">Back</a>
</div>
    
{% endblock %}


