{% extends "base.html" %}

{% block content %}
    <h2>Input info</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.old_pass.label }}<br>
            {{ form.old_pass(size=32) }}
        </p>
        <p>
            {{ form.new_pass.label }}<br>
            {{ form.new_pass(size=32) }}
        </p>
        <p>
            {{ form.new_pass_retype.label }}<br>
            {{ form.new_pass_retype(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
