{% extends 'base.html' %} 

{% block content %} 
    <h2>Input Job Info</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.job_title.label }}<br>
            {{ form.job_title(size=32) }}
        </p>
        <p>
            {{ form.company.label }}<br>
            {{ form.company(size=32) }}
        </p>
        <p>
            {{ form.job_description.label }}<br>
            {{ form.job_description(size=32) }}
        </p>
        <p>
            {{ form.url.label }}<br>
            {{ form.url(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %} 