<html>

    <head>
        <title>ShrimpedIn</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" \
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet" href={{url_for("static", filename="stylesheets/styles.css")}}>
    </head>

    <body>
        <div class="container-fluid" style="padding-top: 10%;">
            <div class="row">
                <div>      
                    <h1 style="text-align: center; padding-left: 10px; font-size: 75px;">
                        <img src="static/images/Transparent_Shrimp.png" width="220px" height="220px" \>
                        ShrimpedIn
                        <img src="static/images/Transparent_Shrimp.png" width="220px" height="220px" \
                        style="transform: scaleX(-1);" class="center">
                    </h1>    
                </div>
                <div class="col-md-10 offset-md-1">
                    <h1 style="text-align: center; padding-left: 10px;">Create Account</h1><br><br>
                    <div class="row">
                        <div class="col-md-6 offset-md-3" style="padding-bottom: 5%;">
                            <form action="" method="post" novalidate>
                                {{ form.hidden_tag() }}
                                <p style="width: fit-content; margin: auto;">
                                    {{ form.fname.label }}<br>
                                    {{ form.fname(size=32) }}
                                </p>

                                <p style="width: fit-content; margin: auto;">
                                    {{ form.lname.label }}<br>
                                    {{ form.lname(size=32) }}
                                </p><br>

                                <p style="width: fit-content; margin: auto;">
                                    {{ form.role.label}}
                                    {{ form.role }}
                                </p><br>

                                <p style="width: fit-content; margin: auto;">
                                    {{ form.email.label }}<br>
                                    {{ form.email(size=32) }}
                                </p>

                                <p style="width: fit-content; margin: auto;">
                                    {{ form.username.label }}<br>
                                    {{ form.username(size=32) }}
                                </p>
        
                                <p style="width: fit-content; margin: auto;">
                                    {{ form.password.label }}<br>
                                    {{ form.password(size=32) }}
                                </p><br>
                                        
                                <p class="btn" style="display: flex; justify-content: center;"> {{ form.submit() }} </p>
                                <br><hr style="width: 50%; margin: auto;"><br>
                            </form>

                            <a class="btn btn-outline-dark" href="/login" \
                            style="display: flex; margin: auto; width: fit-content; background-color: white;">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>