{% extends "base.html" %}

{% block content %}
<section class="p-3 mb-2">
    <div class="container" style="padding-bottom: 4%; padding-top: 3%;">
        <img src="{{ image_file }}" width="220px" height="220px" \
        style="display:block;margin:auto; padding: auto; border: 2.5px solid #f172a1; border-radius: 50%;" class="center"><br>
        <form action="" method="post" novalidate style="margin: auto; width: fit-content; ">
            {{ form.hidden_tag() }}
            <p style="width: fit-content; margin: auto;">
                {{ form.fname.label(class="form-control-label") }}
                {{ form.fname(class="form-control form-control-md")}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.lname.label(class="form-control-label") }}
                {{ form.lname(class="form-control form-control-md")}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.mname.label(class="form-control-label") }}
                {{ form.mname(class="form-control form-control-md")}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.address.label(class="form-control-label") }}
                {{ form.address(class="form-control form-control-md")}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.city.label(class="form-control-label") }}
                {{ form.city(class="form-control form-control-md")}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.state.label(class="form-control-label") }}
                {{ form.state(class="form-control form-control-md") }}
            </p>
        
            <p style="width: fit-content; margin: auto;">
                {{ form.zip_code.label(class="form-control-label") }}
                {{ form.zip_code(class="form-control form-control-md")}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.phone_number.label(class="form-control-label") }}
                {{ form.phone_number(class="form-control form-control-md")}}
            </p>
            <p>
                {{ form.user_bio.label }}<br>
                {{ form.user_bio(class="form-control form-control-md", cols=100, rows=5, placeholder="Up to 512 characters. . .")}}
            </p><br>
            <p href="/profile" style="width: fit-content; margin: auto; float: right;">
                {{ form.submit(class="form-control form-control-md btn btn-primary") }}</p>
            <button class="form-control form-control-md btn btn-secondary" href="/profile" \
            style="float: left; width: fit-content; margin: auto;">Back</button>



        </form>
        
    </div>
</section>
{% endblock %}
