<html>
    <body>
        <div id="editProfile" style="position: fixed; display: block;">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}
                    {{ form.username(size=32)}}
                </p>
                <p>
                    {{ form.fname.label }}
                    {{ form.fname(size=32)}}
                </p>
                <p>
                    {{ form.lname.label }}
                    {{ form.lname(size=32)}}
                </p>
                <p>
                    {{ form.mname.label }}
                    {{ form.mname(size=32)}}
                </p>
                <p>
                    {{ form.email.label }}
                    {{ form.email(size=32)}}
                </p>
                <p>
                    {{ form.address.label }}
                    {{ form.address(size=32)}}
                </p>
                <p>
                    {{ form.city.label }}
                    {{ form.city(size=32)}}
                </p>
                <p>
                    {{ form.state.label }}
                    {{ form.state }}
                </p>
                <p>
                    {{ form.zip_code.label }}
                    {{ form.zip_code(size=32)}}
                </p>
                <p>
                    {{ form.phone_number.label }}
                    {{ form.phone_number(size=32)}}
                </p>
                <p href="/profile" >{{ form.submit() }}</p>
            </form>
        </div>
    </body>
</html>