{% extends "base.html" %}

{% block content %}
<section class="p-3 mb-2">
    <div class="container" style="padding-bottom: 4%; padding-top: 3%;">
        <img src="{{ image_file }}" width="220px" height="220px" \
        style="display:block;margin:auto; padding: auto; border: 2.5px solid #f172a1; border-radius: 50%;" class="center"><br>
        <form action="" method="post" novalidate style="margin: auto; width: fit-content; ">
            {{ form.hidden_tag() }}
            <p style="width: fit-content; margin: auto;">
                {{ form.job_title.label(class="form-control-label") }}
                {{ form.job_title(class="form-control form-control-md", value=current_user.fname)}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.job_description.label(class="form-control-label") }}
                {{ form.job_description(class="form-control form-control-md", value=current_user.lname)}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.job_salary.label(class="form-control-label") }}
                {{ form.job_salary(class="form-control form-control-md", value=current_user.mname)}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.job_address.label(class="form-control-label") }}
                {{ form.job_address(class="form-control form-control-md", value=current_user.address)}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.job_city.label(class="form-control-label") }}
                {{ form.job_city(class="form-control form-control-md", value=current_user.city)}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.job_state.label(class="form-control-label") }}
                {{ form.job_state(class="form-control form-control-md")}}
            </p>
            <p style="width: fit-content; margin: auto;">
                {{ form.job_zipcode.label(class="form-control-label") }}
                {{ form.job_zipcode(class="form-control form-control-md", value=current_user.zip_code)}}
            </p><br>
            <p href="/view_posted_jobs" style="width: fit-content; margin: auto; float: right;">
                {{ form.submit(class="form-control form-control-md btn btn-primary") }}</p>
            <button class="form-control form-control-md btn btn-secondary" href="/view_posted_jobs" \
            style="float: left; width: fit-content; margin: auto;">Back</button>
        </form>
        
    </div>
</section>
{% endblock %}
