{% extends "base.html" %}

{% block content %}
<div class="container" style="padding-top: 2.5%; padding-bottom: 2.5%;">
  <div style="padding-bottom: 2.5%;">
    
    <h1 style="margin: auto; border: 1px solid purple; width: fit-content; padding: 4%; border-radius: 70%; background-color: #f172a1; color: white;">
      <img src="static/images/Transparent_Shrimp.png" width="120px" height="120px" \>
      Welcome to ShrimpedIn
      <img src="static/images/Transparent_Shrimp.png" width="120px" height="120px" \
      style="transform: scaleX(-1);" class="center">
    </h1>
  </div>

  <div style="background-color:#fde9f2; border: 1px solid rgb(52, 11, 141); padding: 1%;">
    <h2 style="text-align: center;">What is ShrimedIn?</h2>
    <p style="font-size: larger;">
      ShrimpedIn is a website for Southern Connecticut State University 
      students to give them a helping hand that will push them into the job market
      and build meaningful careers. 
      <!--You can start by looking through the articles that
      are posted below to build your starting resume.-->
    </p>
    <p style="text-align: center; font-size: larger;">
      <b>Don't hesitate! Get started now and find your new career!</b><hr>
    </p>

      <h2 style="text-align: center;">Career Building with Shrimpedin</h1>

      <h3><u>Resume/CV</u></h3>

      <p style="font-size: larger;">
        A resume or CV is a timeline of your career. It may be hard to get a job with no experience.
        However, it is still possible to build a career with no experience. 
        The main thing that you want to focus on when creating your resume is to 
        focus on the experiences that helped you develop skills that can translate into the job market.
        This does not have to be from a job or internship in it of itself, but rather something
        that you did in school, a personal project, or something similar. Your main focus when creating a resume is to 
        make sure it relates to the job you are applying to or career field.
        <br><br>
        According to Indeed.com, one way to introduce your skills on your resume is by mentioning 
        your education highlights and professional skills you have developed. You can check out more information and tips
        <a href="https://www.indeed.com/career-advice/resumes-cover-letters/writing-a-resume-with-no-experience">
          here.
        </a><br><br>
        You can also check out 
        <a href="https://www.topresume.com/career-advice/make-a-great-resume-with-no-work-experience">this article</a> 
        for a better step-by-step approach in creating your resume.<br>
      </p>

      <p style="text-align: center; font-size: larger;">
        <b>Don't forget to upload your resume/CV to ShrimpedIn!</b>
      </p>
    
      <h3><u>Cover Letters and Their Importance</u></h3>

      <p style="font-size: larger;">
        The best way to improve your chances of getting your dream career/job is by sending an exceptional cover letter.
        The big mistake job seekers make is not including one when they apply to jobs. The cover letter is an important element 
        in your job application, it introduces to the recruiters who you are, why you are applying to the job,
        the value you bring to the company, and ultimately why they should hire you.
        If you want to get started, 
        <a href="https://www.indeed.com/career-advice/resumes-cover-letters/how-to-write-a-cover-letter">Indeed</a> 
        provides an in depth analysis on how to create
        your own unique cover letter.
      </p>
    </div>
</div>
{% endblock %}