<h1 style="color:purple;">Jobs</h1>

{% extends "base.html" %}

{% block content %}
    <section>
        <h1 style="text-align: center;">Current Job Postings</h1><hr>

        <div class="container" style="height: 100%; width: 100%;">
            <div class="row" style="height: 100%; width: 100%">
                <div class="col" style="text-align: center; height: fit-content; width: auto;">
                    Test
                </div>
                    
                <div class="col" style="text-align: center; height: 100%; width: 70%;">
                    <iframe src="/add_user" title="TEST" style="height:inherit; width: 100%;">
                        Test

                    </iframe>
                </div>
            </div>
        </div>

        
    
    
    
    
    
    
    </section>
{% endblock %}