{% extends "base.html" %}


{% block content %}
</style>
        

        <div class="container" style="height:80%">
            <h1 style="padding-bottom: 2.5%;">Current Job Postings</h1>
            <div class="row" style="height: 100%;">
                <div class="col-sm-4" style="text-align: center; height: 100%;">
                    Test
                </div>
                    
                <div class="col-sm-8" style="text-align: center;">
                    <iframe id="hide_it" src="/add_user" style="width: 100%; height: 550px;"></iframe>
                </div>
            </div>
        </div>
{% endblock %}
