<html>
    <h2>Login</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <body>
            <a href="/"><button>Create Account</button></a><br><br>

            <a href="/"><button>Account Recovery</button></a> 
    </body>
</html>