<!-- Navigation bar using bootstrap -->

<!---->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0%; width: 100%; ">
  <div class="container-fluid" style="background-color: #f172a1;">



    <a class="navbar-brand" style="color: #f0ebf4;">ShrimpedIn</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--actual navbar-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li id="homepage" class="nav-item">
          <a class="nav-link active" aria-current="page" href="/homepage" style="color: #f0ebf4;">Home</a>
        </li>   

        <li id="profile" class="nav-item">
          <a class="nav-link" href="/profile" style="color: #f0ebf4;">Profile</a>
        </li>

        <li id="job_posting" class="nav-item">
          <a class="nav-link" href="/jobs" style="color: #f0ebf4;">Job Posting</a>
        </li>
        {% if current_user.role == 'student' %}
        <li id="Jobs Applied" class="nav-item">
          <a class="nav-link" href="/view_applied_jobs" style="color: #f0ebf4;">Jobs Applied</a>
        </li>
        {% endif %}

        {% if current_user.role == 'admin' %}
          <li id="menu_job" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" \
            aria-expanded="false" style="color: #f0ebf4;"> User Control Panel
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li id="create_user" class="nav-item">
              <a class="nav-link" href="/add_user">Create Another User</a>
              </li>
              <li id="create_user" class="nav-item">
                <a class="nav-link" href="/view_users">Delete User</a>
              </li>
            </ul>
          </li>
        {% endif %}
        
        {% if current_user.role == 'recruiter' or current_user.role=='admin'%}
        <li id="menu_job" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" \
          aria-expanded="false" style="color: #f0ebf4;">
            Job Portal
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item" >
              <a class = nav-link href="/view_applicants">View Applicants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create_job">Create New Job</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/edit_jobs">Edit Jobs</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/view_edit_job">Edit Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view_close_job"> Close Job</a>
            </li>
            {% if current_user.role == 'admin'%}
            <li class="nav-item">
              <a class="nav-link" href="remove_jobs">Remove Job</a>
            </li>
            {% endif %}
          </ul>
        </li>
        {% endif %}



        <li id="account settings" class="nav-item dropdown">
          <a class="nav-link dropwdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" \
          aria-expanded="false" style="color: #f0ebf4;">
            Account settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a class="nav-link" href="/change_password">Change Password</a>
            </li>
           
          </ul>
        </li>
          <li id="Logout" class="nav-item">
            <a class="nav-link" href="/logout" style="color: #f0ebf4;">Logout</a>
          </li>
    </div>

  </div>
</nav>