<!-- Navigation bar using bootstrap -->

<!---->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0%; position:fixed; width: 100%; ">
  <div class="container-fluid" style="background-color: #f172a1;">



    <a class="navbar-brand" style="color: #f0ebf4;">ShrimpedIn</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--actual navbar-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/homepage" style="color: #f0ebf4;">Home</a>
        </li>   

        <li class="nav-item">
          <a class="nav-link" href="/profile" style="color: #f0ebf4;">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/jobs" style="color: #f0ebf4;">Job Posting</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/chat" style="color: #f0ebf4;">Messages</a>
        </li>
        {% if current_user.role == 'admin' %}
        <li class="nav-item">
          <a class="nav-link" href="/add_user" style="color: #f0ebf4;">Create Another User</a>
        </li>
        {% endif %}
        
        <li class="nav-item dropdown">
          <a class="nav-link dropwdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" \
          aria-expanded="false" style="color: #f0ebf4;">
            Account settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown"navbar>
            <li class="nav=item">
              <a class="nav-link" href="/change_password">Change Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </li>

    </div>

  </div>
</nav>