{% extends "base.html" %}

{% block content %}
<html>
	<body>
		<section class="p-3 mb-2">
			<div class="container">
				
				<img src="{{ image_file }}" width="220px" height="220px" \
				style="display:block;margin:auto; padding: auto; border: 2.5px solid #f172a1; border-radius: 50%;" class="center">
				<br>
				<h1 style="padding-bottom: 2.5%; text-align: center; ">{{ username }}</h1>
				<br>
		
				<div id="body_section" style="background-color:#fde9f2; border: 1px solid rgb(52, 11, 141); padding: 1%;">
					<div id="photo">
						<div class="row">
							<div class="col-md-6"><h2>User Bio</h2></div>
							<div class="col-md-6"><a href="edit_profile.html" class="btn btn-outline-dark" \
								style="float: right;">Edit Profile</a></div>
						</div>
						
						<p>First Name: {{ fname }}</p><br>
		
						<p>Last Name: {{ lname }}</p><br>
		
						<p>MI: {{ mname }}</p><br>
						
						<p>Email: {{ email }}</p><br>
		
						<p>Date of Birth: {{ date_of_birth }}</p><br>
						
						<p>Address: {{ address }}, {{ city }}, {{ state }} {{ zip_code }}</p><br>
		
						<p>Phone Number: {{ phone_number }}</p>
					</div><hr>
		
					<div id="resume">
						<h2>Resume</h2>
						<div id="pic_submit" class="center">
							<form method="POST" action="/upload" enctype="multipart/form-data">
								<input type="file" name="file">
								<button>Upload</button>
							</form>
						</div>
					</div><hr>
		
					<div id="experience">
						<h2>Work Experience</h2>
					</div>
				</div>
		
				<br>
				
			</div>
		</section>
	</body>
</html>


{% endblock %}